<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Test</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body ng-app="myApp" ng-controller="myCtrl">
  <div class="jumbotron text-center">
    <h1>Height vs. Weight</h1>
    <h3>Search & Enter Your Own Information</h3>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
         Search: <input type="text" ng-model="searchText">
      </div>
      <div class="col-sm-6">
        <input id="itemToAdd" placeholder="height (cm), weight (kg)" type="text" ng-model="addMe" ng-enter="addData()">
        <button id="addButton" type="button" ng-click="addData()">Input Height & Weight</button>
      </div>
    </div>
  </div>
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <table class="table table-striped">
          <tr>
            <th scope="col">Height</th>
            <th scope="col">Weight</th>
          </tr>

            <tr ng-repeat="item in Data | filter: searchText | limitTo: 10">
            <td>{{item.height}}</td>
            <td>{{item.weight}}</td>
            <td style="border:none">
              <a title="Delete Row" class="btn btn-danger btn-xs fa fa-times" ng-click="removeData($index)">&times;</a>
            </td>
          </tr>
        </table>
      </div>

      <div class="col-sm-6">
        <span id="scatterPlot"></span>
      </div>
    </div>
  </div>

  <script>
    var app = angular.module("myApp", []);

    app.controller("myCtrl", function($scope) {
      $scope.Data = [];
      $scope.DataForPlot=[];
      $scope.addData = function() {
        var inputString = $scope.addMe;
        $scope.addMe = "";
        var inputArray = inputString.split(",");
        var inputHeight = parseInt(inputArray[0].replace(/\s/g, ""));
        var inputWeight = parseInt(inputArray[1].replace(/\s/g, ""));
        $scope.Data.push({height: inputHeight, weight: inputWeight});
        $scope.DataForPlot.push([inputHeight,inputWeight]);
        scatterPlotHighchart.series[0].setData($scope.DataForPlot,true);
      };
      $scope.removeData = function(x) {
        $scope.Data.splice(x, 1);
        $scope.DataForPlot.splice(x, 1);
        scatterPlotHighchart.series[0].setData($scope.DataForPlot,true);
      };

      var scatterPlotHighchart = Highcharts.chart('scatterPlot', {
        chart: {
          type: 'scatter',
          zoomType: 'xy'
        },
        title: {
          text: 'Height Versus Weight'
        },
        subtitle: {
          text: 'Add your height and weight to the data'
        },
        xAxis: {
          title: {
            enabled: true,
            text: 'Height (cm)'
          },
          startOnTick: true,
          endOnTick: true,
          showLastLabel: true
        },
        yAxis: {
          title: {
            text: 'Weight (kg)'
          }
        },
        plotOptions: {
          scatter: {
            marker: {
              radius: 5,
              states: {
                hover: {
                  enabled: true,
                  lineColor: 'rgb(100,100,100)'
                }
              }
            },
            states: {
              hover: {
                marker: {
                  enabled: false
                }
              }
            },
            tooltip: {
              headerFormat: '<b>{series.name}</b><br>',
              pointFormat: '{point.x} cm, {point.y} kg'
            }
          }
        },
        series: [{
          name: '(height,weight)',
          color: 'rgba(119, 152, 191, .5)',
          data: $scope.DataForPlot
        }]
      });

});

        app.directive('ngEnter', function() {
          return function(scope, element, attrs) {
            element.bind("keydown keypress", function(event) {
              if (event.which === 13) {
                scope.$apply(function() {
                  scope.$eval(attrs.ngEnter);
                });
                event.preventDefault();
              }
            });
          };
        });
  /*alternate data:
    [
          [174.0, 65.6],
          [175.3, 71.8],
          [193.5, 80.7],
          [186.5, 72.6],
          [187.2, 78.8],
          [181.5, 74.8],
          [184.0, 86.4],
          [184.5, 78.4],
          [175.0, 62.0],
          [184.0, 81.6],
          [180.0, 76.6],
          [177.8, 83.6],
          [192.0, 90.0],
          [176.0, 74.6],
          [174.0, 71.0],
          [184.0, 79.6],
          [192.7, 93.8],
          [171.5, 70.0],
          [173.0, 72.4],
          [176.0, 85.9],
          [176.0, 78.8],
          [180.5, 77.8],
          [172.7, 66.2],
          [176.0, 86.4],
          [173.5, 81.8],
          [178.0, 89.6],
          [180.3, 82.8],
          [180.3, 76.4],
          [164.5, 63.2],
          [173.0, 60.9],
          [183.5, 74.8],
          [175.5, 70.0],
          [188.0, 72.4],
          [189.2, 84.1],
          [172.8, 69.1],
          [170.0, 59.5],
          [182.0, 67.2],
          [170.0, 61.3],
          [177.8, 68.6],
          [184.2, 80.1],
          [186.7, 87.8],
          [171.4, 84.7],
          [172.7, 73.4],
          [175.3, 72.1],
          [180.3, 82.6],
          [182.9, 88.7],
          [188.0, 84.1],
          [177.2, 94.1],
          [172.1, 74.9],
          [167.0, 59.1],
          [169.5, 75.6],
          [174.0, 86.2],
          [172.7, 75.3],
          [182.2, 87.1],
          [164.1, 55.2],
          [163.0, 57.0],
          [171.5, 61.4],
          [184.2, 76.8],
          [174.0, 86.8],
          [174.0, 72.2],
          [177.0, 71.6],
          [186.0, 84.8],
          [167.0, 68.2],
          [171.8, 66.1],
          [182.0, 72.0],
          [167.0, 64.6],
          [177.8, 74.8],
          [164.5, 70.0],
          [192.0, 101.6],
          [175.5, 63.2],
          [171.2, 79.1],
          [181.6, 78.9],
          [167.4, 67.7],
          [181.1, 66.0],
          [177.0, 68.2],
          [174.5, 63.9],
          [177.5, 72.0],
          [170.5, 56.8],
          [182.4, 74.5],
          [197.1, 90.9],
          [180.1, 93.0],
          [175.5, 80.9],
          [180.6, 72.7],
          [184.4, 68.0],
          [175.5, 70.9],
          [180.6, 72.5],
          [177.0, 72.5],
          [177.1, 83.4],
          [181.6, 75.5],
          [176.5, 73.0],
          [175.0, 70.2],
          [174.0, 73.4],
          [165.1, 70.5],
          [177.0, 68.9],
          [192.0, 102.3],
          [176.5, 68.4],
          [169.4, 65.9],
          [182.1, 75.7],
          [179.8, 84.5],
          [175.3, 87.7],
          [184.9, 86.4],
          [177.3, 73.2],
          [167.4, 53.9],
          [178.1, 72.0],
          [168.9, 55.5],
          [157.2, 58.4],
          [180.3, 83.2],
          [170.2, 72.7],
          [177.8, 64.1],
          [172.7, 72.3],
          [165.1, 65.0],
          [186.7, 86.4],
          [165.1, 65.0],
          [174.0, 88.6],
          [175.3, 84.1],
          [185.4, 66.8],
          [177.8, 75.5],
          [180.3, 93.2],
          [180.3, 82.7],
          [177.8, 58.0],
          [177.8, 79.5],
          [177.8, 78.6],
          [177.8, 71.8],
          [177.8, 116.4],
          [163.8, 72.2],
          [188.0, 83.6],
          [198.1, 85.5],
          [175.3, 90.9],
          [166.4, 85.9],
          [190.5, 89.1],
          [166.4, 75.0],
          [177.8, 77.7],
          [179.7, 86.4],
          [172.7, 90.9],
          [190.5, 73.6],
          [185.4, 76.4],
          [168.9, 69.1],
          [167.6, 84.5],
          [175.3, 64.5],
          [170.2, 69.1],
          [190.5, 108.6],
          [177.8, 86.4],
          [190.5, 80.9],
          [177.8, 87.7],
          [184.2, 94.5],
          [176.5, 80.2],
          [177.8, 72.0]
        ]*/
  </script>
</body>

</html>
